.fontNunito {
  font-family: Nunito;
}

.fontPoppins {
  font-family: Poppins;
}

.nav-link {
  color: #5B5766;
}

.navBtn {
  border: 1.5px solid #6852ED;
  color: #6852ED;
  border-radius: 40px;
  font-size: .9rem;
  padding: .5rem 1rem;
}

.navBtn:hover {
  background-color: #6852ED;
  color: white;
}